/* PAGE */
.details-page {
  display: flex;
  flex-direction: column;
  gap: 30px;

  padding: 110px 70px;
  min-height: 100vh;

  align-items: center;
}

/* MAIN FORM */
.main-form {
  width: 100%;
  max-width: 700px;

  background: rgba(0,0,0,0.25);
  backdrop-filter: blur(10px);

  padding: 20px;
  border-radius: 12px;
}

/* BUTTON */
.primary-btn {
  background: #274046;
  color: white;
  padding: 10px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

.primary-btn:hover {
  background: #1b2c2f;
}

/* SAVE BUTTON */
.save-btn {
  margin-top: 20px;

  width: 100%;
  padding: 12px;

  border: none;
  border-radius: 8px;

  background: #274046;
  color: white;

  font-size: 15px;
  font-weight: 500;

  cursor: pointer;
  transition: 0.2s;
}

.save-btn:hover {
  background: #1b2c2f;
}

/* FORM GROUP */
.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* LABEL */
.form-group label {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: rgba(255,255,255,0.7);
}

/* INPUTS */
.edit-form input,
.edit-form select {
  padding: 10px;
  border-radius: 8px;
  border: none;

  background: rgba(255,255,255,0.1);
  color: white;
}

/* DROPDOWN FIX */
.edit-form select {
  color: black;
}

.edit-form option {
  color: black;
}

/* MOBILE */
@media (max-width: 900px) {
  .details-page {
    padding: 100px 20px 40px 20px;
  }

  .main-form {
    max-width: 100%;
    width: 100%;
  }

  .save-btn1 {
    top: 20px;
    right: 20px;
  }
}