.cats-page {
  min-height: 100vh;
  padding: 80px 20px 40px 20px;
}

.cat-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.cats-title {
  color: white;
  margin-bottom: 20px;
}

.cat-card {
  position: relative;
  min-height: 480px;
  padding: 20px;
  border-radius: 12px;

  background: rgba(102, 93, 93, 0.25);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  border: 1px solid rgba(255,255,255,0.1);

  color: #f5f5f5;

  transition: 0.2s;
}

.cat-card:hover {
  transform: translateY(-5px);
  background: rgba(240, 238, 238, 0.35);
}

.cat-card h3 {
  margin-top: 0;
  margin-bottom: 10px;
  color: #ffffff;
}

.cat-card p {
  margin: 5px 0;
  color: #ffffff;
}

.cat-card span {
  font-weight: bold;
  color: #ffffff;
}

.icon-btn:hover {
  transform: scale(1.2);
}

.empty-message {
  text-align: center;
  color: rgba(255,255,255,0.8);
  margin-top: 40px;
  font-style: italic;
}

.add-btn {
  position: fixed;
  bottom: 30px;
  right: 30px;

  width: 65px;
  height: 65px;

  background-color: #E6DADA;
  color: #274046;

  border: none;
  border-radius: 28%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 30px;
  cursor: pointer;

  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
  transition: 0.2s;

  z-index: 1000;
}

.add-btn:hover {
  transform: scale(1.1);
  background-color: #1f5a4d;
}

@media (max-width: 600px) {
  .cats-page {
    padding: 100px 15px 30px 15px;
  }

  .add-btn {
    width: 55px;
    height: 55px;
    font-size: 24px;
  }
}