.litters-page {
  min-height: 100vh;
  padding: 100px 20px 40px 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.litters-title {
  color: white;
  margin-bottom: 20px;
}

.litters-list {
  width: 100%;
  max-width: 900px;

  display: flex;
  flex-direction: column;
  gap: 15px;
}

.litter-card {
  width: 100%;
  height: 130px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px;
  border-radius: 12px;

  background: rgba(0,0,0,0.25);
  backdrop-filter: blur(10px);

  color: white;

  cursor: pointer;
  transition: 0.2s;
}

.litter-card:hover {
  transform: translateY(-3px);
  background: rgba(0,0,0,0.35);
}

.litter-left h3 {
  margin-bottom: 5px;
}

.litter-left p {
  font-size: 13px;
  opacity: 0.8;
}

.litter-right {
  font-size: 14px;
  opacity: 0.7;
}

.empty {
  color: rgba(255,255,255,0.7);
}
.add-btn {
  position: fixed;
  bottom: 30px;
  right: 30px;

  width: 65px;
  height: 65px;

  background-color: #E6DADA;
  color: #274046;

  border: none;
  border-radius: 28%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 30px;
  cursor: pointer;

  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
  transition: 0.2s;

  z-index: 1000;
}

.add-btn:hover {
  transform: scale(1.1);
  background-color: #1f5a4d;
}

@media (max-width: 900px) {

  .litters-page {
    padding: 90px 15px 30px 15px;
  }

  .litters-title {
    font-size: 24px;
  }

  .litter-card {
    height: auto;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .litter-right {
    align-self: flex-end;
  }

  .add-btn {
    width: 55px;
    height: 55px;
    font-size: 24px;

    bottom: 20px;
    right: 20px;
  }
}