.home-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #E6DADA, #274046);
  position: relative;
}

.home-menu-icon {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 26px;
  cursor: pointer;
  color: #5a4633;
}

.home-title {
  font-size: 36px;
  text-align: center;
  color: #f5f5f5;
  max-width: 1200px;
}