/* header bez pozadine */
.app-header {
    position: fixed;
    top: 20px;
    left: 20px;

    display: flex;
    align-items: center;
    gap: 12px;

    z-index: 1000;
}

/* samo ikona */
.back-btn {
    background: transparent;
    border: none;
    color: white;

    font-size: 22px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 0.2s;
}

.back-btn:hover {
    transform: translateX(-4px);
    opacity: 0.8;
}

/* title */
.header-title {
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}