.header {
  background: #1B2F33;
  backdrop-filter: blur(10px);
  padding: 15px 30px;
}

.header-content {
  display: flex;
  align-items: center;
}

.menu-icon {
  font-size: 22px;
  margin-right: 15px;
  cursor: pointer;
  color: #fffaf3;
}

.header-title {
  text-decoration: none;
  color: #fffaf3;
  font-size: 26px;
  font-weight: bold;
}