.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.3);
  z-index: 2000;
}

.side-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background: #E6DADA;
  box-shadow: 2px 0 10px rgba(0,0,0,0.2);
  padding: 20px;
  z-index: 2000;

  display: flex;     
  flex-direction: column;

  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.menu-links {
  display: flex;
  flex-direction: column;
}

.side-menu.open {
  transform: translateX(0);
}

.side-menu a {
  display: block;
  margin: 15px 0;
  text-decoration: none;
  color: #4a3b2f;
  font-weight: bold;
}

.logout-btn {
  margin-top: auto;

  font-family: "Josefin Sans", sans-serif;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: #8b2e2e;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

.logout-btn:hover {
  background-color: #5e1f1f;
}

.side-menu a.active {
  color: #274046;
  font-weight: bold;
  border-left: 4px solid #274046;
  padding-left: 10px;
}