.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.global-menu-icon {
  position: fixed;
  top: 20px;
  left: 20px;
  font-size: 26px;
  cursor: pointer;
  color: #5a4633;
  z-index: 1000;
}